{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <form method="POST" class="reviewform">
        {% csrf_token %}

        <!-- Rating Form -->
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">Rate {{ restaurant.name }}</h3>

                <!-- Taste Rating -->
                <div class="rating taste">
                    <!-- Taste Rating -->
                    <h4>Taste</h4>
                    <button type="button" class="btn"><i class="bi bi-star" id="first"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="second"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="third"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="fourth"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="fifth"></i></button>
                </div>
                <div class="rating ambience">
                    <!-- Taste Rating -->
                    <h4>Ambience</h4>
                    <button type="button" class="btn"><i class="bi bi-star" id="first"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="second"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="third"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="fourth"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="fifth"></i></button>
                </div>
                <div class="rating customer_service">
                    <!-- Taste Rating -->
                    <h4>Customer Service</h4>
                    <button type="button" class="btn"><i class="bi bi-star" id="first"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="second"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="third"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="fourth"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="fifth"></i></button>
                </div>
                <div class="rating location">
                    <!-- Taste Rating -->
                    <h4>Location</h4>
                    <button type="button" class="btn"><i class="bi bi-star" id="first"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="second"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="third"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="fourth"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="fifth"></i></button>
                </div>
                <div class="rating value_for_money">
                    <!-- Taste Rating -->
                    <h4>Value for Money</h4>
                    <button type="button" class="btn"><i class="bi bi-star" id="first"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="second"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="third"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="fourth"></i></button>
                    <button type="button" class="btn"><i class="bi bi-star" id="fifth"></i></button>
                    
                </div>
            </div>
        </div>
        <!-- Comment Form -->
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Leave a Review!</h5>

                <!-- Comment -->
                <div class="form-group">
                    
                    {{ comment_form.comment_text }}
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% block extra_js %}
            <!-- Customizible JS -->
        <script src="{% static 'js/rate.js' %}"></script>
    {% endblock extra_js %}

</section>
{% endblock %}
