{% extends "base.html" %}
{% block content %}
<section >
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col">
                <div class="position-relative">
                    <img src="https://res.cloudinary.com/dif9bjzee/image/upload/v1689373355/fast-food-meal-with-copy-space_wlqwwx.webp"
                    class="img-fluid w-100 vh-100" alt="DublinEats Hero Image">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}