{% extends "base.html" %}
{% block content %}

<section>
    <div class="container-fluid p-0">
        <div class="row position-relative">
            <div class="col">
                <img src="https://res.cloudinary.com/dif9bjzee/image/upload/v1691242501/fav-pic-webp_nzvsrx.webp"
                    class="img-fluid w-100 vh-100 hero-image" alt="DublinEats Hero Image">
                <div class="position-absolute top-50 start-50 translate-middle search-container" >
                    <p>Looking for good restaurants in Dublin? Search here.</p>
                    <form class="d-flex" action="{% url 'searchresults' %}" method="GET">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query"
                        value="{{ request.GET.query }}" >
                        <button class="btn btn-outline-success main-button" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}