{% extends "base.html" %}
{% block content %}

<section>
    <div class="container-fluid p-0">
        <div class="row position-relative">
            <div class="col">
                <img src="https://res.cloudinary.com/dif9bjzee/image/upload/v1689373355/fast-food-meal-with-copy-space_wlqwwx.webp"
                    class="img-fluid w-100 vh-100" alt="DublinEats Hero Image">
                <div class="position-absolute top-50  translate-middle search-container" >
                    
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query"
                        value="{{ request.GET.query }}" >
                        <button class="btn btn-outline-success button-dbneats" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}