@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Open sans";
}

:root {
    --primary-color: #2C3E50;
    --light-color: #FFFFFF;
    --secondary-color: #F9BF3B;
    --bg-color: #F2F2F2;
}

.nav-colour {
    background-color: var(--bg-color);
}

/* #dublineats-logo {
    width: 10rem;
    height: 5rem;

} */

.navbar-brand {
    display: flex;
    align-items: end;
    justify-content: left;
    font-size: 2rem;
    padding-bottom: 0rem;
    padding-left: 3rem;
    width: 20rem;
    /* Adjust the width and height according to your image size */
    height: 3rem;
    background-image: url('../logo/logoimage.webp');
   
    background-repeat: no-repeat;
    background-size: contain;

}

.button-dbneats {
    color: var(--secondary-color) !important;
    outline-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.button-dbneats:hover {
    color: var(--light-color) !important; 
    background-color: var(--secondary-color);
    outline-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.main-button {
    margin-left: 0.5rem !important;
    color: var(--light-color) !important;
    background-color: var(--primary-color);
    border-color: var(--light-color) !important;
}

.main-button:hover {
    color: var(--light-color) !important; 
    background-color: var(--secondary-color);
    
    border-color: var(--light-color)!important;
}
.footer {
    background-color: var(--primary-color);
    width: 100%;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.socials {
    margin-bottom: 0;
}

/** star rates **/
.checked {
    color:var(--secondary-color);
}

/** image overshadow  **/

.position-relative {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.position-relative:hover .overlay {
    opacity: 1;
}

/** hero image **/
.heroimage-container {
    z-index: -1;
}

/**search function**/

.search-container {
    z-index: 1;
    left: 25%;
}

.user-done {
    color: var(--light-color);
    background-color: var(--secondary-color);
    pointer-events: none;
}


.pinned {
    background-color: #E74c3c;
    
}

/**Carousal controls **/
.carousel-control-prev,
.carousel-control-next {
    height: 80%;
    top:20%;
}