{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="col-lg-4 col-md-4">
        <img src="{{ profile.profile_image.url }}" class="rounded-circle prof-img"
            alt="{{ profile.user.username }} Profile Image">
    </div>
    <h1>{{ profile.user.username }}</h1>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </div>
            <button class="btn btn-outline-info button-dbneats" type="submit"> Update </button>
            <button class="btn btn-outline-info button-dbneats" type="button"> Delete</button>
        </form>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center">
    {% if user.is_authenticated and user == profile.user %}
    <form method="POST" class="reviewform text-center" action="{% url 'deleteprofile' user.username %}"
        role="form">
        {% csrf_token %}
        <h2 class="mb-3 text-dark"><span>Delete</span> Profile
        </h2>
        <p><i>
            <span>{{ profile.user }}</span> Are you sure you want to delete your profile?
        </i></p>
        <p>Once deleted, you will have to sign up again</p>
        <button type="submit" name="action" value="delete" class="site-btn">Delete</button>
    </form>
    {% else %}
    <h3>You are not authorized to delete this profile.</h3>
    {% endif %}
</div>
{% endblock content %}