{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
    <div class="col-lg-4 col-md-4">
        <div class="d-flex justify-content-center"> 
        <img src="{{ profile.profile_image.url }}" class="rounded-circle prof-img"
            alt="{{ profile.user.username }} Profile Image">
        </div>
    </div>
    <div class="text-center fw-bold">
        <h2 class="form-heading fw-bold">Edit Profile</h2>
    
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </div>
            {% if user == profile.user %}
            <button class="btn btn-outline-info button-dbneats" type="submit"> Update </button>
            {% endif %}
            <button type="button" class="btn btn-outline-info remove-button" data-bs-toggle="modal" data-bs-target="#deleteProfileModal">
                Delete 
            </button>
            <a type="button" href="{% url 'profile' user.username %}" class="btn btn-outline-info button-dbneats">Exit</a>
        </form>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModalLabel"
    aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            {% if user.is_authenticated and user == profile.user  or user.is_superuser %}
            <form method="POST" class="reviewform text-center" action="{% url 'deleteprofile' profile.user.username %}"
                 role="form">
                {% csrf_token %}
                <h2 class="mb-3 text-dark"><span>Delete</span> Profile</h2>
                <p><i>
                    {% if user.is_superuser and user != profile.user%}
                    <span>{{ request.user }}</span> Are you sure you want to delete {{ profile.user.username}}'s profile and account?

                    {% else %}
                    <span>{{ profile.user.username }}</span> Are you sure you want to delete your profile?
                    <p>Once deleted, you will have to sign up again</p>
                    {% endif %}
                </i></p>
                
                <button type="submit" name="action" value="delete" class="site-btn">Delete</button>
            </form>
            {% else %}
            <h3>You are not authorized to delete this profile.</h3>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}