{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-lg-4 login-forms">
            <h1 class="text-center form-heading">Log In</h1>
            <p class="text-center"> Need An Account? <a href="{% url 'signup' %}" class="dublineat-links">Sign Up Now</a></p>
            <form method="POST">
                {% csrf_token %}
                <div>
                    {{ form|crispy }}
                </div>
                <button class="btn btn-outline-info main-button" type="submit"> Log In </button>
                <small class="text-muted ml-2"><a href="{% url 'password_reset' %}" class="dublineat-links">Forgot Password?</a></small>
            </form>
        </div>
    </div>
</div>
{% endblock content %}