{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 d-flex justify-content-center flex-column align-items-center">
            <h2 class="text-center form-heading fw-bold"> Profile</h2>
            <img src="{{ profile.profile_image.url }}" class="rounded-circle prof-img "
                alt="{{ profile.user.username }} Profile Image">
            
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card-body position-relative">
                <p><span class="fw-bold">Username<br></span>{{ profile.user.username }}</p>
                <p><span class="fw-bold">Email<br></span>{{ profile.user.email }}</p>
                <p><span class="fw-bold">Name<br></span>{{ profile.firstname }} {{ profile.surname }}</p>
                <p><span  class="mb-0 fw-bold">About<br></span> {{ profile.about|safe }}</p>
                
                <p><span class="mt-3 fw-bold">Favourite Cuizine<br></span>{{ profile.fav_food }}</p>
                <div class="text-end position-absolute top-0 end-0">
                    {% if user == profile.user or user.is_superuser %}
                    <a class="site-btn flex-grow-1 btn btn-primary main-button"
                    href="{% url 'editprofile' profile.user.username %}"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                    <i class="bi bi-pencil-square"></i></a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class=" card col-lg-4 col-md-6 text-center">
            <div class="card-header">
            <h3 class="form-heading">My Pinned Restaurants</h3>
            </div>
            <div class="card-body">
                {% if profile.pinned_restaurants.exists %}
                <div class="list-group">
                {% for restaurant in profile.pinned_restaurants.all %}
                <div class="d-flex justify-content-between align-items-center ">
                    <a class="flex-grow-1 dublineat-links" href="{{ restaurant.website }}" target="_blank"
                    aria-label="View {{ restaurant.name }} details">
                    {{ restaurant.name }}</a>
                    {% if request.user == profile.user %} 
                    <a href="{% url 'remove_pin' restaurant.RestaurantId %}" 
                    aria-label="Remove {{ restaurant.name }} from pinned restaurants." 
                    class="btn btn-sm btn-primary remove-button">Remove X</a>
                    {% endif %}
                
                </div>
                {% endfor %}
                </div>
            
            {% else %}
            <p>You dont have any pinned restaurants</p>
            {% endif %}
            </div>
        </div>
    
    
        <div class=" card col-lg-4 col-md-6 text-center">
            <div class="card-header">
            <h3 class="form-heading">My Reviews</h3>
            </div>
            <div class="card-body">
                {% if profile.reviewed.exists %}
                <div class="list-group ">
                {% for restaurant in profile.reviewed.all %}
                <div class="d-flex justify-content-between align-items-center">
                        <a class="flex-grow-1 dublineat-links" href="{{ restaurant.website }}" target="_blank"
                        aria-label="View {{ restaurant.name }} details">{{ restaurant.name }}</a>
                    
                        {% if request.user == profile.user %}
                        <a href="{% url 'profile_reviews' restaurant.RestaurantId %}"
                        aria-label="Change {{ restaurant.name }} review"
                        class="btn btn-sm btn-primary button-dbneats">Open</a>
                        {% endif %}
                    
                </div>
                {% endfor %}
                </div>
                {% else %}
                <p>You haven’t reviewed anything yet </p>
                {% endif %}
            </div>
        </div>
        
    </div>
    
</div>
{% endblock content %}
