{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="col-lg-4 col-md-4">
        <img src="{{ profile.profile_image.url }}" class="rounded-circle prof-img"
            alt="{{ profile.user.username }} Profile Image">
    </div>
    <div>
        <div class="card-body">
            <p><span>Username<br></span>{{ profile.user.username }}</p>
            <p><span>Email<br></span>{{ profile.user.email }}</p>
            <p><span>Name<br></span>{{ profile.firstname }} {{ profile.surname }}</p>
            <p class="mb-0"><span>About<br></span></p>
            {{ profile.about|safe }}
            <p class="mt-3"><span>Favourite Cuizine<br></span>{{ profile.fav_food }}</p>
            
            <p class="mb-0"><span>My Pinned Restaurants<br></span></p>
            {% if profile.pinned_restaurants.exists %}
            {% for restaurant in profile.pinned_restaurants.all %}
            <p class="mb-0"><a class="text-dark" href="{{ restaurant.website }}" target="_blank"
                aria-label="View {{ restaurant.name }} details">{{ restaurant.name }}</a>
                {% if request.user == profile.user %} -
                <span><a href="{% url 'remove_pin' restaurant.RestaurantId %}" 
                aria-label="Remove {{ restaurant.name }} from pinned restaurants.">Remove X</a></span>
                {% endif %}
            </p>
            {% endfor %}
            {% else %}
            <p>You dont have any pinned restaurants</p>
            {% endif %}
            <p class="mt-3 mb-0"><span>My Reviews<br></span></p>
            {% if profile.reviewed.exists %}
            {% for restaurant in profile.reviewed.all %}
            <p class="mb-0"><a class="text-dark" href="{{ restaurant.website }}" target="_blank"
                aria-label="View {{ restaurant.name }} details">{{ restaurant.name }}</a>
                {% if request.user == profile.user %}
                                    -
                <span><a href="{% url 'profile_reviews' restaurant.RestaurantId %}"
                aria-label="Change {{ restaurant.name }} review">Open</a></span>
                {% endif %}
            </p>
            {% endfor %}
            {% else %}
            <p>You haven’t reviewed anything yet <p>
            {% endif %}

            <div class=" row">
                <div class="col-12 col-lg-4 d-flex flex-wrap my-3">
                    {% if user == profile.user %}
                    <a class="site-btn flex-grow-1"
                        href="{% url 'editprofile' user.username %}">Edit Profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
